<flynt-component 
  load:on="visible" 
  name="BlockWysiwyg"
  style="background-color: {% if options.colorBackground %}{{ options.colorBackground }}{% else %}transparent{% endif %};">
  <div class="wysiwyg w-full {% if textWidth %} max-w-screen-md {% else %} max-w-screen-max {% endif %} mx-auto p-md md:p-xl lg:p-xxl">
    {{ contentHtml|e('wp_kses_post') }}
  </div>
</flynt-component>
