flynt-component[name='BlockDownloads'] {
  scroll-margin-top: 96px;
  
  .wrapper {
    padding-bottom: var(--spacingLarge);
    width: 100%;

    @media (max-width: $breakpoint-tablet - 1) {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }

  .downloads {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    gap: var(--spacingLarge);
  }
}
