<flynt-component
  load:on="idle" 
  name="BlockCta" 
  class="w-full bg-blue"
  >
  <div class="w-full max-w-screen-xl mx-auto py-md px-sm md:py-xl md:px-lg flex flex-col justify-center align-middle items-center gap-md">
    {% if contentHtml or buttonLink %}
      {{ contentHtml|e('wp_kses_post') }}
      <a class="button button--grey text-button" href="{{buttonLink.url}}">{{buttonLink.title}}</a>
    {% endif %}
  </div>
</flynt-component>
