flynt-component[name='NavigationMainLeft'] {
  .navigation {
    .admin-bar & {
      inset-block-start: var(--wp-admin--admin-bar--height);
    }
  }

  .item {
    font-family: 'Replica', Arial, sans-serif;
  }
  
  .submenu {
    align-items: flex-start;
    background: var(--white);
    display: flex;
    flex-flow: column wrap;
    height: auto;
    justify-content: space-between;
    // left: -20px;
    padding: var(--spacingSmall);
    position: absolute;
    text-align: center;
    top: 45px;
    width: fit-content;
  }

  .button {
    @media (min-width: $breakpoint-desktop) {
      font-size: 1.25rem;
    }
  }
}
