flynt-component[name='SliderBox'] {
  .slider {
    max-width: 100%;
    position: relative;

    .swiper-wrapper {
      box-sizing: inherit;
    }

    .swiper-slide {
      display: flex;

      @media (max-width: $breakpoint-mobile) {
        width: 80%;
      }
    }
    
    &-button {
      align-items: center;
      cursor: pointer;
      display: flex;
      justify-content: center;
      z-index: 10;

      &.swiper-button-disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }
}
