flynt-component[name='GridFeatCovers'] {
  .grid-item {
    transition: all 0.2s ease-in-out;

    &:hover {
      .title {
        &::before {
          @apply bottom-[10px];
          @apply relative;
        }
      }
    }
  }

  .title {
    transition: all 0.2s ease-in-out;

    &::before {
      content: '↑';
      transition: all 0.2s ease-in-out;
      @apply mr-sm;
    }
  }
}
