<flynt-component load:on="visible" name="BlockPilotHeader">
  <div class="w-full max-w-screen-xl mx-auto boxed flex flex-col gap-sm">
    {# {% if post.thumbnail %}
    <div class="featuredImage w-full grow">
      <img class="figure-image lazyload object-cover aspect-square md:aspect-2/1 h-auto"
        src="{{ post.thumbnail.src }}"
        data-srcset="{{function('wp_get_attachment_image_srcset', post.thumbnail.id)}}"
        data-sizes="auto">
    </div>
    {% endif %} #}
    <div class="h-auto lg:h-auto w-full grow flex flex-col justify-start gap-sm">
      <div class="h2">{{ post.title }}</div>
      <div class="h3 text-darkgrey">{{ post.partner }}</div>
    </div>
  </div>
</flynt-component>
