<flynt-component name="BlockNotFound" class="componentSpacing">
  <div class="container m-auto w-full h-[calc(100vh_-_455px)] sm:h-[calc(100vh_-_250px)] lg:h-[calc(100vh_-_210px)] flex flex-col items-center justify-center">
    <div class="flex flex-col items-center justify-center">
      {{ contentHtml|e('wp_kses_post') }}
      <p>
        <a class="button button--text mt-md" href="{{ function('home_url') }}">
          {{ backLinkLabel|e }}
        </a>
      </p>
    </div>
  </div>
</flynt-component>
