flynt-component[name='SliderLogos'] {
  .slider {
    overflow: hidden;
    position: relative;

    &-button {
      align-items: center;
      color: var(--color-background);
      cursor: pointer;
      display: flex;
      height: 48px;
      inset-block-start: 50%;
      justify-content: center;
      position: absolute;
      transform: translateY(-50%);
      width: 48px;
      z-index: 10;

      &::before {
        background-color: var(--azulgrey);
        border-radius: 50%;
        content: '';
        height: 100%;
        inset-block-start: 0;
        inset-inline-start: 0;
        position: absolute;
        transition: opacity 0.2s ease;
        width: 100%;
        will-change: opacity;
      }

      &.swiper-button-disabled {
        opacity: 0.5;
        pointer-events: none;
      }

      &--prev {
        inset-inline-start: 5px;

        &::after {
          border-block-start: 4px solid currentColor;
          border-inline-start: 4px solid currentColor;
          content: '';
          height: 1.25em;
          margin-inline-start: calc(0.25em + 2px);
          transform: rotate(-45deg);
          width: 1.25em;
        }
      }

      &--next {
        inset-inline-end: 5px;

        &::after {
          border-block-start: 4px solid currentColor;
          border-inline-end: 4px solid currentColor;
          content: '';
          height: 1.25em;
          margin-inline-end: calc(0.25em - 2px);
          transform: rotate(45deg);
          width: 1.25em;
        }
      }
    }
  }
}
