/**
*  Typography
*/

@font-face {
  font-display: swap;
  font-family: 'Maison Book';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/MaisonNeue-Book.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Maison Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/MaisonNeue-Bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Tiempos';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/TiemposHeadline-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Graphik Semibold';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/Graphik-Semibold.woff2') format('woff2');
}

// body {
//   padding: var(--spacingLarge);
// }

html {
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scroll-behavior: smooth;

  @media (min-width: $breakpoint-mobile) {
    font-size: 16px;
  }
}

body {
  color: var(--color-text);
  font-family: 'Maison Book', 'Trebuchet MS', sans-serif;
}

#{$heading-selectors} {
  line-height: calc(1em + 0.5rem);
}

.superTitle {
  font-family: 'Tiempos', 'Trebuchet MS', sans-serif;
  font-size: 3rem;
  margin-bottom: 1rem;

  @media (min-width: $breakpoint-mobile) {
    font-size: 4.375rem;
  }
}

.superSubtitle {
  font-family: 'Tiempos', 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 1rem;

  @media (min-width: $breakpoint-mobile) {
    font-size: 1.875rem;
  }
}

h1,
.h1 {
  font-family: 'Maison Book', 'Trebuchet MS', sans-serif;
  font-size: 2.25rem;
  margin-bottom: 1rem;

  @media (min-width: $breakpoint-mobile) {
    font-size: 2.25rem;
  }
}

h2,
.h2 {
  font-family: 'Maison Book', 'Trebuchet MS', sans-serif;
  font-size: 1.75rem;
  margin-bottom: 1rem;

  @media (min-width: $breakpoint-mobile) {
    font-size: 1.75rem;
  }
}

h3,
.h3 {
  font-family: 'Maison Bold', 'Trebuchet MS', sans-serif;
  font-size: 1.25rem;
  margin-bottom: 1rem;

  @media (min-width: $breakpoint-mobile) {
    font-size: 1.25rem;
  }
}

p,
.paragraph,
.body {
  font-size: 1.5rem;

  @media (min-width: $breakpoint-desktop) {
    font-size: 1.25rem;
  }

  a {
    color: inherit;
  }
}

.bodySmall {
  font-family: 'Maison Book', 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  margin-bottom: 1rem;

  @media (min-width: $breakpoint-mobile) {
    font-size: 1rem;
  }
}

hr {
  border: 0.5px solid var(--black);
  margin: 0 auto;
}

code {
  background: var(--color-background-secondary);
  border-radius: 4px;
  display: inline-block;
  font-size: 0.95em;
  padding: 0 0.375em;
  word-break: break-word;
}

figcaption {
  color: var(--color-text-muted);
  font-size: var(--bodyFontSizeSmall);
  margin-block-start: 0.25rem;
}

blockquote,
.blockquote {
  border-inline-start: 5px solid var(--color-accent);
  display: block;
  font-size: 1.44rem;
  font-style: italic;
  font-weight: 500;
  line-height: calc(1em + 0.75rem);
  margin: var(--flow-space) 0 var(--flow-space) 2.5rem;
  max-width: 100%;
  padding-inline-start: 0.8rem;

  footer {
    color: var(--color-text-muted);
    font-size: var(--bodyFontSize);
    margin-block-start: 0.25rem;
  }
}

/**
* Lists & Tables
*/

// ul,
// ol {
//   padding-inline-start: 1.5rem;
// }

table {
  border-collapse: collapse;
  border-spacing: 0;
  color: var(--color-text);
  font-size: var(--bodyFontSizeSmall);
  max-width: 100%;
  width: 100%;

  caption {
    caption-side: bottom;
    color: var(--color-text-muted);
    margin-block-start: calc(var(--flow-space) / 2);
    text-align: start;
  }

  td,
  th {
    padding: 0.9rem 1rem;
    text-align: inherit;
    vertical-align: top;
  }

  th {
    color: var(--color-text-muted);
    font-weight: 500;
  }

  thead {
    background-color: var(--color-background-secondary);
    border-block-end: solid 2px var(--color-border);
  }

  tr {
    &:nth-child(even) {
      background-color: var(--color-background-secondary);
    }
  }
}

/**
* Buttons
*/

button {
  border: inherit;
}

.button {
  @include reset-link;
  align-items: center;
  appearance: none;
  border-radius: 0;
  cursor: pointer;
  display: flex;
  font: inherit;
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  letter-spacing: 0;
  line-height: 1rem;
  padding: 10px var(--spacingSmall);
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $breakpoint-desktop) {
    font-size: 1rem;
    padding: 10px var(--spacingLarge);
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }

  &--black {
    background-color: transparent;
    border: 1px solid var(--black);
    color: var(--black);
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: var(--black);
      color: var(--grey);
    }
  }

  &--blue {
    background-color: transparent;
    border: 1px solid var(--blue);
    color: var(--blue);
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: var(--blue);
      color: var(--grey);
    }
  }

  &--acqua {
    background-color: transparent;
    border: 1px solid var(--acqua);
    color: var(--acqua);
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: var(--acqua);
      color: var(--grey);
    }
  }

  &--grey {
    background-color: transparent;
    border: 1px solid var(--grey);
    color: var(--grey);
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: var(--grey);
      color: var(--blue);
    }
  }

  &--plusOrange {
    align-content: center;
    align-items: center;
    background-color: var(--acqua);
    border: 3px solid var(--acqua);
    color: var(--black);
    display: flex;
    height: 40px;
    justify-content: center;
    text-decoration: none;
    width: 40px;
    
    @media (min-width: $breakpoint-tablet) {
      padding: 0;
    }

    &::after {
      content: '+';
      font-size: 40px;
    }

    &:hover,
    &:focus {
      background-color: transparent;
      color: var(--acqua);
    }
  }

  &--plusBlack {
    align-content: center;
    align-items: center;
    background-color: var(--black);
    border: 3px solid var(--black);
    color: var(--acqua);
    display: flex;
    height: 40px;
    justify-content: center;
    text-decoration: none;
    width: 40px;
    
    @media (min-width: $breakpoint-tablet) {
      padding: 0;
    }

    &::after {
      content: '+';
      font-size: 40px;
    }

    &:hover,
    &:focus {
      background-color: transparent;
      color: var(--black);
    }
  }

  &--full {
    background-color: var(--blue);
    border: 3px solid var(--blue);
    color: var(--white);
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: transparent;
      color: var(--black);
    }
  }

  &--ghost {
    background-color: transparent;
    border: 3px solid var(--black);
    color: var(--black);
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: var(--black);
      color: var(--white);
    }
  }

  &--link {
    background-color: transparent;
    border: 0;
    color: var(--black);
    padding: 0;
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.wpcf7-submit {
  @include reset-link;
  appearance: none;
  background-color: var(--blue);
  border: 1px solid var(--blue);
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  font: inherit;
  font-weight: 700;
  letter-spacing: 0;
  padding: var(--spacingSmall);
  text-align: center;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: transparent;
    color: var(--black);
  }

  @media (min-width: $breakpoint-tablet) {
    padding: var(--spacingSmall) var(--spacingLarge);
  }
}

/**
* Forms
*/

form {
  margin: 0;
}

fieldset {
  border: 0;
  padding: 0;
}

legend {
  color: var(--color-text);
  font-size: var(--bodyFontSize);
  font-weight: 700;
  padding: 0;
}

label {
  color: var(--color-text-muted);
  font-size: var(--bodyFontSizeSmall);
  font-weight: 500;
}

#{$input-selectors} {
  appearance: none;
  background-color: transparent;
  border-bottom: 1px solid var(--black);
  border-radius: 0;
  caret-color: var(--color-text);
  color: var(--color-text);
  font-size: var(--bodyFontSizeSmall);
  margin-bottom: 35px;
  max-width: 100%;
  padding: 0.7rem 0.6rem;
  transition: border-color 0.3s ease-in-out;
  width: 100%;

  &::placeholder {
    color: var(--color-border-secondary);
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }

  &:invalid {
    border-color: var(--color-error);
  }
}

.select {
  --icon-size: 17px;
  --icon-border-width: 2px;
  display: inline-block;
  position: relative;

  &::after {
    border-block-end: var(--icon-border-width) solid currentColor;
    border-inline-end: var(--icon-border-width) solid currentColor;
    content: '';
    display: block;
    height: var(--icon-size);
    inset-block-start: calc(50% - var(--icon-border-width));
    inset-inline-end: calc(0.6rem + (var(--icon-border-width) * 2));
    pointer-events: none;
    position: absolute;
    transform: translateY(calc(-50% - var(--icon-border-width))) rotate(45deg);
    width: var(--icon-size);
  }

  select {
    padding-inline-end: calc(var(--icon-size) + 1.5em);
  }
}

textarea {
  border: 1px solid var(--black);
  margin: 0;
  max-width: 100%;
  min-height: 150px;
  resize: vertical;
  vertical-align: top;
  width: 100%;
}

[type='checkbox'],
[type='radio'] {
  accent-color: var(--color-accent);
  display: inline-block;
  height: 20px;
  margin-block-start: 4px;
  margin-inline-end: 8px;
  vertical-align: top;
  width: 20px;

  + label {
    color: var(--color-text);
    display: inline-block;
    font: inherit;
    width: calc(100% - 33px);
  }
}

/**
* Helpers
*/

flynt-component {
  display: block;
  position: relative;
}

[x-cloak] { 
  display: none !important; 
}

/* Base flow for content */
// :where(#{$heading-selectors}, p, .paragraph, ul, ol, pre, table, figure, blockquote, form, fieldset, dl, address, details, hr, aside, video, fieldset) {
//   + * {
//     margin-block-start: var(--spacingSmall);
//   }
// }

.pageWrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;

  .admin-bar & {
    padding-block-start: var(--wp-admin--admin-bar--height);
  }
}

.mainContent {
  @apply mt-[65px];
  @apply lg:mt-[104px];
  @apply lg:min-h-[calc(100vh_-_105px)];
}

.componentSpacing {
  margin: var(--component-spacing) 0;

  &[data-theme] {
    margin: 0;
    padding: var(--component-spacing) 0;
  }

  /* Use flow-space as componentSpacing for all components in single post layouts. */
  .post-main & {
    --component-spacing: var(--flow-space);
  }
}

.boxed {
  margin-inline: auto;
  max-width: var(--containerMaxWidth);
  padding: var(--spacingSmall);

  @media (min-width: $breakpoint-tablet) {
    padding: var(--spacingLarge);
  }
}

.contentMaxWidth {
  margin-inline: auto;
  max-width: var(--contentMaxWidth);
  padding: var(--spacingLarge);
}

.flowContent {
  > * + * {
    margin-block-start: var(--flow-space);
  }
}

.preContent {
  margin: 0 0 var(--spacingSmall);
  max-width: var(--contentMaxWidth);
  text-align: left;

  @media (min-width: $breakpoint-tablet) {
    margin: 0 0 var(--spacingLarge);
  }
}

.postContent {
  margin: var(--spacingSmall) 0 0;
  max-width: var(--contentMaxWidth);
  text-align: left;

  @media (min-width: $breakpoint-tablet) {
    margin: var(--spacingLarge) 0 0;
  }
}

.scrollableTableWrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

/* Class for text that should only be visible to screen readers */
.visuallyHidden {
  clip: rect(0, 0, 0, 0) !important;
  height: 1px !important;
  margin: -1px !important; // Fix for https://github.com/twbs/bootstrap/issues/25686
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

/* Skip link behavior */
.skipLink {
  inset-block-start: -100px;
  position: fixed;
  z-index: 999;

  &:focus {
    inset-block-start: 0;
  }
}

/**
* Box Helpers
*/

.boxPadding {
  padding: var(--box-padding);
}

.boxBorder {
  border: solid 2px var(--color-border);
}

/**
* Themes
*/

[data-theme] {
  background-color: var(--color-background);
  color: var(--color-text);
}
