.menu {
  @include reset-list;
  backface-visibility: hidden;
  background-color: var(--white);
  display: flex;
  flex-flow: column;
  height: auto;
  inset-block-start: var(--navigation-height);
  inset-inline-start: 0;
  justify-content: flex-start;
  margin-top: 0;
  min-height: calc(100% - var(--navigation-height));
  overflow-y: scroll;
  padding: var(--component-spacing) var(--container-padding);
  position: fixed;
  transform: translateX(-100%);
  transition: transform 0.45s cubic-bezier(0.19, 1, 0.22, 1), visibility 0.45s;
  visibility: hidden;
  width: 100%;
  will-change: transform;
  z-index: 49;

  .admin-bar & {
    height: calc(100% - var(--navigation-height) - var(--wp-admin--admin-bar--height));
    inset-block-start: calc(var(--navigation-height) + var(--wp-admin--admin-bar--height));
  }

  .item {
    align-items: center;
    border-top: 1px solid var(--grey);
    display: flex;
    flex-grow: 0;
    justify-content: center;
  }

  .link {
    @include reset-link;
    color: var(--black);
    display: block;
    padding: 5px;
    text-align: center;
    text-decoration: none;
  }

  .current-menu-item {
    .link {
      text-decoration: underline;
    }

    .submenu {
      .current-menu-item {
        .link {
          text-decoration: underline;
        }
      }
      
      :not(.current-menu-item) {
        .link {
          text-decoration: none;
        }
      }
    }
  }
}

.open-submenu {
  flex-flow: column;
}

.submenu {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 0;
  width: 100%;

  .item {
    border-top: 0;

    .link {
      padding-bottom: 10px;
      padding-top: 0;
    }
  }
}

&[data-status='menuIsOpen'] {
  .menu {
    transform: translateX(0);
    visibility: visible;
  }
}
