<flynt-component load:on="visible" name="BlockWysiwygTwoCol" class="">
  <div class="wrapper boxed flex flex-col lg:flex-row align-top justify-between gap-[100px]">
    <div class="content-left lg:w-1/2">
      {{ contentHtmlLeft }}
    </div>
    <div class="content-right lg:w-1/2">
      {{ contentHtmlRight }}
    </div>
  </div>
</div>
