<flynt-component load:on="idle" name="NavigationMainLogo" class="w-[200px] flex justify-center items-center">
  <a class="logo" href="{{ site.link }}">
    <img class="logo-image" src="{{ logo.src }}" alt="{{ logo.alt }}">
  </a>
</flynt-component>
