flynt-component[name='BlockPostArchive'] {
  @media (min-width: $breakpoint-desktop) {
    &.animated {
      opacity: 0;
      transition: all 1s ease-in-out;
    }
  
    &.fade-in {
      opacity: 1;
    }
  }
}
