<a class="backToTop rotate-[270deg] h-[38px] w-auto flex justify-center items-center bg-yellow fixed bottom-[120px] right-[-7px] transition-all duration-200 cursor-pointer hover:-translate-y-xs z-[3000]" id="backToTop" href="#theTop">
  <svg class="scale-[.75] w-auto" width="48" height="22" viewBox="0 0 48 22" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M37 1L47 11L37 21" stroke="black" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M47 11H1" stroke="black" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</a>
