flynt-component[name='BlockImageFullScreen'] {
  [data-title-position='topLeft'] {
    @apply bottom-md;
    @apply left-md;
    @apply md:top-xl;
    @apply md:left-xl;
  }

  [data-title-position='topRight'] {
    @apply bottom-md;
    @apply left-md;
    @apply md:top-xl;
    @apply md:right-xl;
  }

  [data-title-position='bottomLeft'] {
    @apply bottom-md;
    @apply left-md;
    @apply md:bottom-xl;
    @apply md:left-xl;
  }

  [data-title-position='bottomRight'] {
    @apply bottom-md;
    @apply left-md;
    @apply md:bottom-xl;
    @apply md:right-xl;
  }

  .figure {
    margin: 0 auto;

    &[data-image-size='small'] {
      max-width: 375px;
    }

    &[data-image-size='medium'] {
      max-width: var(--content-max-width);
    }

    &[data-image-size='large'] {
      max-width: var(--content-max-width-large);
    }

    &[data-image-size='full'] {
      max-width: 100%;

      .caption {
        margin-inline: auto;
        max-width: var(--container-max-width);
        padding-inline: var(--container-padding);
      }
    }
  }
}
