<flynt-component load:on="visible" name="ListTextLink">
  <div class="wrapper max-w-screen-xl mx-auto boxed">
    {% if headlineTitle %}
      <h2 class="max-w-screen-lg mx-auto flex justify-center items-center text-center text-yellow uppercase">{{ headlineTitle }}</h2>
    {% endif %}
    <div class="flex flex-col gap-sm mt-md md:mt-lg">
      {% for row in ListPress %}
        <a class="w-full bg-white p-sm flex flex-row items-center justify-between" href="{{ row.pressLink.url }}"{% if row.pressLink.target %} target="{{ row.pressLink.target }}" rel="noreferrer noopener"{% endif %}>
          <div class="font-smallTitle">{{ row.pressTitle }}</div>
          <div class="arrow">
            <svg width="48" height="22" viewBox="0 0 48 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M37 1L47 11L37 21" stroke="black" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M47 11H1" stroke="black" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</div>
